html {
  background-color: rgb(186, 224, 184);
}

body {
  display: flex;
  flex-direction: column;
  align-items: center;
}

h1 {
  color: rgb(173, 112, 76);
}

.container {
  display: flex;
  width: 40%;
}

.column {
  flex-direction: column;
  display: flex;
  flex: 1;
}

.node {
  border: solid black 1px;
  flex: 1;
  aspect-ratio: 1/1;
  background-color: #cbc9c9;
}

.selected {
  background-color: rgb(174, 56, 1);
}

#grid-size {
  margin-bottom: 5px;
}
